node_modules/
docs/.vuepress/.cache/
docs/.vuepress/.temp/
docs/.vuepress/dist/
src/.vuepress/.cache/
src/.vuepress/.temp/
src/.vuepress/dist/

.DS_Store
*.log
.temp
vuepress
.idea
.vscode
dist
private-config.js
deploy.sh